*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  main{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .cards{
    width: 70rem;
    display: flex;
    justify-content: center;
  }
  
  .card{

    width: 29%;
    /* height: 40%; */
    padding: 5vh 5.4vh 5vh 6.5vh;
  }
  
  .sedans {
    background-color:hsl(31, 77%, 52%) ;
    border-radius: 10px 0 0 10px;
  }
  
  .suvs{
    background-color: hsl(184, 100%, 22%);
  }
  
  .luxury{
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 10px 10px 0;
  }
  .sedans-btn{
    color:hsl(31, 77%, 52%) ;
  }
  
  .suvs-btn{
    color: hsl(184, 100%, 22%);
  }
  
  .luxury-btn{
  color: hsl(179, 100%, 13%);
  }
  .card_title{
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    font-size: 3.3vh;
    text-transform: uppercase;
    margin: .4em 0;
    padding: 1.2rem 0;
  }
  .card_paragraph{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.9vh;
    line-height: 3.5vh;
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 4em;
  }
  .card_btn{
    padding: 0.8rem 1.62rem;
    border-radius: 2rem;
    border: none;
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.9vh;
    cursor: pointer;
    transition: all .5s;
  }
  
  .card_btn:hover{
    background-color: rgba(255, 255, 255, 0);
    color: hsl(0, 0%, 95%);
    border: .1em  solid hsl(0, 0%, 95%);;
  }
  footer{
    position: relative;
  }
  
  .attribution{
    text-align: center;
    
  }
  @media(max-width:1230px){
    main{
      width: 100%;
      margin: 25rem 0;
    }
    .cards{
      flex-direction: column;
      align-items: flex-start;
    }

    .card{
     border: 2px solid red;
      width: 20rem;
      margin:0 auto;

    }
    .sedans {
      border-radius: 10px 10px 0 0;
 
    }  
    .luxury{
    border-radius: 0 0 10px 10px;
    }
   
  } 